<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.clawing.lottery.mapper.LotterySixSoldDetailMapper">
  <resultMap id="BaseResultMap" type="demo.clawing.lottery.pojo.po.LotterySixSoldDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="record_org_id" jdbcType="CHAR" property="recordOrgId" />
    <result column="sold_amount" jdbcType="DECIMAL" property="soldAmount" />
    <result column="prize_pool_amount" jdbcType="DECIMAL" property="prizePoolAmount" />
    <result column="prize_1_amount" jdbcType="DECIMAL" property="prize1Amount" />
    <result column="prize_1_count" jdbcType="INTEGER" property="prize1Count" />
    <result column="prize_2_amount" jdbcType="DECIMAL" property="prize2Amount" />
    <result column="prize_2_count" jdbcType="INTEGER" property="prize2Count" />
    <result column="prize_3_amount" jdbcType="DECIMAL" property="prize3Amount" />
    <result column="prize_3_count" jdbcType="INTEGER" property="prize3Count" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, record_time, record_org_id, sold_amount, prize_pool_amount, prize_1_amount, prize_1_count, 
    prize_2_amount, prize_2_count, prize_3_amount, prize_3_count, is_delete, create_time
  </sql>
  <select id="selectByExample" parameterType="demo.clawing.lottery.pojo.po.LotterySixSoldDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lottery_six_sold_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lottery_six_sold_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lottery_six_sold_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.clawing.lottery.pojo.po.LotterySixSoldDetailExample">
    delete from lottery_six_sold_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.clawing.lottery.pojo.po.LotterySixSoldDetail">
    insert into lottery_six_sold_detail (id, record_time, record_org_id, 
      sold_amount, prize_pool_amount, prize_1_amount, 
      prize_1_count, prize_2_amount, prize_2_count, 
      prize_3_amount, prize_3_count, is_delete, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{recordTime,jdbcType=TIMESTAMP}, #{recordOrgId,jdbcType=CHAR}, 
      #{soldAmount,jdbcType=DECIMAL}, #{prizePoolAmount,jdbcType=DECIMAL}, #{prize1Amount,jdbcType=DECIMAL}, 
      #{prize1Count,jdbcType=INTEGER}, #{prize2Amount,jdbcType=DECIMAL}, #{prize2Count,jdbcType=INTEGER}, 
      #{prize3Amount,jdbcType=DECIMAL}, #{prize3Count,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="demo.clawing.lottery.pojo.po.LotterySixSoldDetail">
    insert into lottery_six_sold_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
      <if test="recordOrgId != null">
        record_org_id,
      </if>
      <if test="soldAmount != null">
        sold_amount,
      </if>
      <if test="prizePoolAmount != null">
        prize_pool_amount,
      </if>
      <if test="prize1Amount != null">
        prize_1_amount,
      </if>
      <if test="prize1Count != null">
        prize_1_count,
      </if>
      <if test="prize2Amount != null">
        prize_2_amount,
      </if>
      <if test="prize2Count != null">
        prize_2_count,
      </if>
      <if test="prize3Amount != null">
        prize_3_amount,
      </if>
      <if test="prize3Count != null">
        prize_3_count,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordOrgId != null">
        #{recordOrgId,jdbcType=CHAR},
      </if>
      <if test="soldAmount != null">
        #{soldAmount,jdbcType=DECIMAL},
      </if>
      <if test="prizePoolAmount != null">
        #{prizePoolAmount,jdbcType=DECIMAL},
      </if>
      <if test="prize1Amount != null">
        #{prize1Amount,jdbcType=DECIMAL},
      </if>
      <if test="prize1Count != null">
        #{prize1Count,jdbcType=INTEGER},
      </if>
      <if test="prize2Amount != null">
        #{prize2Amount,jdbcType=DECIMAL},
      </if>
      <if test="prize2Count != null">
        #{prize2Count,jdbcType=INTEGER},
      </if>
      <if test="prize3Amount != null">
        #{prize3Amount,jdbcType=DECIMAL},
      </if>
      <if test="prize3Count != null">
        #{prize3Count,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.clawing.lottery.pojo.po.LotterySixSoldDetailExample" resultType="java.lang.Long">
    select count(*) from lottery_six_sold_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lottery_six_sold_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.recordTime != null">
        record_time = #{record.recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordOrgId != null">
        record_org_id = #{record.recordOrgId,jdbcType=CHAR},
      </if>
      <if test="record.soldAmount != null">
        sold_amount = #{record.soldAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.prizePoolAmount != null">
        prize_pool_amount = #{record.prizePoolAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.prize1Amount != null">
        prize_1_amount = #{record.prize1Amount,jdbcType=DECIMAL},
      </if>
      <if test="record.prize1Count != null">
        prize_1_count = #{record.prize1Count,jdbcType=INTEGER},
      </if>
      <if test="record.prize2Amount != null">
        prize_2_amount = #{record.prize2Amount,jdbcType=DECIMAL},
      </if>
      <if test="record.prize2Count != null">
        prize_2_count = #{record.prize2Count,jdbcType=INTEGER},
      </if>
      <if test="record.prize3Amount != null">
        prize_3_amount = #{record.prize3Amount,jdbcType=DECIMAL},
      </if>
      <if test="record.prize3Count != null">
        prize_3_count = #{record.prize3Count,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lottery_six_sold_detail
    set id = #{record.id,jdbcType=BIGINT},
      record_time = #{record.recordTime,jdbcType=TIMESTAMP},
      record_org_id = #{record.recordOrgId,jdbcType=CHAR},
      sold_amount = #{record.soldAmount,jdbcType=DECIMAL},
      prize_pool_amount = #{record.prizePoolAmount,jdbcType=DECIMAL},
      prize_1_amount = #{record.prize1Amount,jdbcType=DECIMAL},
      prize_1_count = #{record.prize1Count,jdbcType=INTEGER},
      prize_2_amount = #{record.prize2Amount,jdbcType=DECIMAL},
      prize_2_count = #{record.prize2Count,jdbcType=INTEGER},
      prize_3_amount = #{record.prize3Amount,jdbcType=DECIMAL},
      prize_3_count = #{record.prize3Count,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.clawing.lottery.pojo.po.LotterySixSoldDetail">
    update lottery_six_sold_detail
    <set>
      <if test="recordTime != null">
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordOrgId != null">
        record_org_id = #{recordOrgId,jdbcType=CHAR},
      </if>
      <if test="soldAmount != null">
        sold_amount = #{soldAmount,jdbcType=DECIMAL},
      </if>
      <if test="prizePoolAmount != null">
        prize_pool_amount = #{prizePoolAmount,jdbcType=DECIMAL},
      </if>
      <if test="prize1Amount != null">
        prize_1_amount = #{prize1Amount,jdbcType=DECIMAL},
      </if>
      <if test="prize1Count != null">
        prize_1_count = #{prize1Count,jdbcType=INTEGER},
      </if>
      <if test="prize2Amount != null">
        prize_2_amount = #{prize2Amount,jdbcType=DECIMAL},
      </if>
      <if test="prize2Count != null">
        prize_2_count = #{prize2Count,jdbcType=INTEGER},
      </if>
      <if test="prize3Amount != null">
        prize_3_amount = #{prize3Amount,jdbcType=DECIMAL},
      </if>
      <if test="prize3Count != null">
        prize_3_count = #{prize3Count,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.clawing.lottery.pojo.po.LotterySixSoldDetail">
    update lottery_six_sold_detail
    set record_time = #{recordTime,jdbcType=TIMESTAMP},
      record_org_id = #{recordOrgId,jdbcType=CHAR},
      sold_amount = #{soldAmount,jdbcType=DECIMAL},
      prize_pool_amount = #{prizePoolAmount,jdbcType=DECIMAL},
      prize_1_amount = #{prize1Amount,jdbcType=DECIMAL},
      prize_1_count = #{prize1Count,jdbcType=INTEGER},
      prize_2_amount = #{prize2Amount,jdbcType=DECIMAL},
      prize_2_count = #{prize2Count,jdbcType=INTEGER},
      prize_3_amount = #{prize3Amount,jdbcType=DECIMAL},
      prize_3_count = #{prize3Count,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>