<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.clawing.movie.mapper.MovieAssociationCrewMapper">
  <resultMap id="BaseResultMap" type="demo.clawing.movie.pojo.po.MovieAssociationCrew">
    <id column="movie_id" jdbcType="BIGINT" property="movieId" />
    <result column="director_id" jdbcType="BIGINT" property="directorId" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    movie_id, director_id, is_delete
  </sql>
  <select id="selectByExample" parameterType="demo.clawing.movie.pojo.po.MovieAssociationCrewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie_association_crew
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from movie_association_crew
    where movie_id = #{movieId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from movie_association_crew
    where movie_id = #{movieId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.clawing.movie.pojo.po.MovieAssociationCrewExample">
    delete from movie_association_crew
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.clawing.movie.pojo.po.MovieAssociationCrew">
    insert into movie_association_crew (movie_id, director_id, is_delete
      )
    values (#{movieId,jdbcType=BIGINT}, #{directorId,jdbcType=BIGINT}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.clawing.movie.pojo.po.MovieAssociationCrew">
    insert into movie_association_crew
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="movieId != null">
        movie_id,
      </if>
      <if test="directorId != null">
        director_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="movieId != null">
        #{movieId,jdbcType=BIGINT},
      </if>
      <if test="directorId != null">
        #{directorId,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.clawing.movie.pojo.po.MovieAssociationCrewExample" resultType="java.lang.Long">
    select count(*) from movie_association_crew
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update movie_association_crew
    <set>
      <if test="record.movieId != null">
        movie_id = #{record.movieId,jdbcType=BIGINT},
      </if>
      <if test="record.directorId != null">
        director_id = #{record.directorId,jdbcType=BIGINT},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update movie_association_crew
    set movie_id = #{record.movieId,jdbcType=BIGINT},
      director_id = #{record.directorId,jdbcType=BIGINT},
      is_delete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.clawing.movie.pojo.po.MovieAssociationCrew">
    update movie_association_crew
    <set>
      <if test="directorId != null">
        director_id = #{directorId,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where movie_id = #{movieId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.clawing.movie.pojo.po.MovieAssociationCrew">
    update movie_association_crew
    set director_id = #{directorId,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=BIT}
    where movie_id = #{movieId,jdbcType=BIGINT}
  </update>
</mapper>