<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.clawing.movie.mapper.MovieInfoMapper">
  <resultMap id="BaseResultMap" type="demo.clawing.movie.pojo.po.MovieInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nation_id" jdbcType="BIGINT" property="nationId" />
    <result column="original_title" jdbcType="VARCHAR" property="originalTitle" />
    <result column="cn_title" jdbcType="VARCHAR" property="cnTitle" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, nation_id, original_title, cn_title, create_time, release_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="demo.clawing.movie.pojo.po.MovieInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from movie_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from movie_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.clawing.movie.pojo.po.MovieInfoExample">
    delete from movie_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.clawing.movie.pojo.po.MovieInfo">
    insert into movie_info (id, nation_id, original_title, 
      cn_title, create_time, release_time, 
      is_delete)
    values (#{id,jdbcType=BIGINT}, #{nationId,jdbcType=BIGINT}, #{originalTitle,jdbcType=VARCHAR}, 
      #{cnTitle,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{releaseTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="demo.clawing.movie.pojo.po.MovieInfo">
    insert into movie_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nationId != null">
        nation_id,
      </if>
      <if test="originalTitle != null">
        original_title,
      </if>
      <if test="cnTitle != null">
        cn_title,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nationId != null">
        #{nationId,jdbcType=BIGINT},
      </if>
      <if test="originalTitle != null">
        #{originalTitle,jdbcType=VARCHAR},
      </if>
      <if test="cnTitle != null">
        #{cnTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.clawing.movie.pojo.po.MovieInfoExample" resultType="java.lang.Long">
    select count(*) from movie_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update movie_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.nationId != null">
        nation_id = #{record.nationId,jdbcType=BIGINT},
      </if>
      <if test="record.originalTitle != null">
        original_title = #{record.originalTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.cnTitle != null">
        cn_title = #{record.cnTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.releaseTime != null">
        release_time = #{record.releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update movie_info
    set id = #{record.id,jdbcType=BIGINT},
      nation_id = #{record.nationId,jdbcType=BIGINT},
      original_title = #{record.originalTitle,jdbcType=VARCHAR},
      cn_title = #{record.cnTitle,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      release_time = #{record.releaseTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.clawing.movie.pojo.po.MovieInfo">
    update movie_info
    <set>
      <if test="nationId != null">
        nation_id = #{nationId,jdbcType=BIGINT},
      </if>
      <if test="originalTitle != null">
        original_title = #{originalTitle,jdbcType=VARCHAR},
      </if>
      <if test="cnTitle != null">
        cn_title = #{cnTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.clawing.movie.pojo.po.MovieInfo">
    update movie_info
    set nation_id = #{nationId,jdbcType=BIGINT},
      original_title = #{originalTitle,jdbcType=VARCHAR},
      cn_title = #{cnTitle,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findListByCondition" resultMap="BaseResultMap">
    select
      *
    from
      movie_info
    <where>
      <if test="createTimeStart != null">
        and create_time &gt; #{createTimeStart}
      </if>
      <if test="createTimeEnd != null">
        and create_time &lt; #{createTimeEnd}
      </if>
      <if test="movieRegionType != null">
        and nation_id = #{movieRegionType}
      </if>
      <if test="title != null">
        and (cn_title like concat('%', #{title}, '%') or original_title like concat('%', #{title}, '%'))
      </if>
      limit #{pageStart}, #{pageSize}
    </where>
  </select>
</mapper>