<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.clawing.movie.mapper.MovieCrewMapper">
  <resultMap id="BaseResultMap" type="demo.clawing.movie.pojo.po.MovieCrew">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="eng_name" jdbcType="VARCHAR" property="engName" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="crew_type" jdbcType="INTEGER" property="crewType" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, eng_name, cn_name, create_time, crew_type, is_delete
  </sql>
  <select id="selectByExample" parameterType="demo.clawing.movie.pojo.po.MovieCrewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie_crew
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from movie_crew
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from movie_crew
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.clawing.movie.pojo.po.MovieCrewExample">
    delete from movie_crew
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.clawing.movie.pojo.po.MovieCrew">
    insert into movie_crew (id, eng_name, cn_name, 
      create_time, crew_type, is_delete
      )
    values (#{id,jdbcType=BIGINT}, #{engName,jdbcType=VARCHAR}, #{cnName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{crewType,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.clawing.movie.pojo.po.MovieCrew">
    insert into movie_crew
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="engName != null">
        eng_name,
      </if>
      <if test="cnName != null">
        cn_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="crewType != null">
        crew_type,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="engName != null">
        #{engName,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crewType != null">
        #{crewType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.clawing.movie.pojo.po.MovieCrewExample" resultType="java.lang.Long">
    select count(*) from movie_crew
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update movie_crew
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.engName != null">
        eng_name = #{record.engName,jdbcType=VARCHAR},
      </if>
      <if test="record.cnName != null">
        cn_name = #{record.cnName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crewType != null">
        crew_type = #{record.crewType,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update movie_crew
    set id = #{record.id,jdbcType=BIGINT},
      eng_name = #{record.engName,jdbcType=VARCHAR},
      cn_name = #{record.cnName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      crew_type = #{record.crewType,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.clawing.movie.pojo.po.MovieCrew">
    update movie_crew
    <set>
      <if test="engName != null">
        eng_name = #{engName,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null">
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crewType != null">
        crew_type = #{crewType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.clawing.movie.pojo.po.MovieCrew">
    update movie_crew
    set eng_name = #{engName,jdbcType=VARCHAR},
      cn_name = #{cnName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      crew_type = #{crewType,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findByCondition" resultMap="BaseResultMap">
    select
      *
    from
      movie_crew
    <where>
      <if test="cnName != null">
        and cn_name like concat('%', #{crewName}, '%'))
      </if>
      <if test="engName != null">
        and eng_name like concat('%', #{crewName}, '%'))
      </if>
      <if test="crewType != null">
        and crew_type = #{crewType}
      </if>
    </where>
  </select>
</mapper>