<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.selenium.mapper.VerificationCodeMapper">
  <resultMap id="BaseResultMap" type="demo.selenium.pojo.po.VerificationCode">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="test_event_id" jdbcType="BIGINT" property="testEventId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="cloudId" jdbcType="VARCHAR" property="cloudid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="correct_text" jdbcType="CHAR" property="correctText" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="is_pass" jdbcType="BIT" property="isPass" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, test_event_id, url, cloudId, create_time, correct_text, is_delete, is_pass
  </sql>
  <select id="selectByExample" parameterType="demo.selenium.pojo.po.VerificationCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from verification_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from verification_code
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from verification_code
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.selenium.pojo.po.VerificationCodeExample">
    delete from verification_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.selenium.pojo.po.VerificationCode">
    insert into verification_code (id, test_event_id, url, 
      cloudId, create_time, correct_text, 
      is_delete, is_pass)
    values (#{id,jdbcType=BIGINT}, #{testEventId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, 
      #{cloudid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{correctText,jdbcType=CHAR}, 
      #{isDelete,jdbcType=BIT}, #{isPass,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="demo.selenium.pojo.po.VerificationCode">
    insert into verification_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="testEventId != null">
        test_event_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="cloudid != null">
        cloudId,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="correctText != null">
        correct_text,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="isPass != null">
        is_pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="testEventId != null">
        #{testEventId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="cloudid != null">
        #{cloudid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="correctText != null">
        #{correctText,jdbcType=CHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="isPass != null">
        #{isPass,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.selenium.pojo.po.VerificationCodeExample" resultType="java.lang.Long">
    select count(*) from verification_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update verification_code
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.testEventId != null">
        test_event_id = #{record.testEventId,jdbcType=BIGINT},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.cloudid != null">
        cloudId = #{record.cloudid,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.correctText != null">
        correct_text = #{record.correctText,jdbcType=CHAR},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.isPass != null">
        is_pass = #{record.isPass,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update verification_code
    set id = #{record.id,jdbcType=BIGINT},
      test_event_id = #{record.testEventId,jdbcType=BIGINT},
      url = #{record.url,jdbcType=VARCHAR},
      cloudId = #{record.cloudid,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      correct_text = #{record.correctText,jdbcType=CHAR},
      is_delete = #{record.isDelete,jdbcType=BIT},
      is_pass = #{record.isPass,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.selenium.pojo.po.VerificationCode">
    update verification_code
    <set>
      <if test="testEventId != null">
        test_event_id = #{testEventId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="cloudid != null">
        cloudId = #{cloudid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="correctText != null">
        correct_text = #{correctText,jdbcType=CHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="isPass != null">
        is_pass = #{isPass,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.selenium.pojo.po.VerificationCode">
    update verification_code
    set test_event_id = #{testEventId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      cloudId = #{cloudid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      correct_text = #{correctText,jdbcType=CHAR},
      is_delete = #{isDelete,jdbcType=BIT},
      is_pass = #{isPass,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>