<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.tool.mapper.DangerMapper">
  
  <delete id="deleteAllMovieInfo">
  	delete from movie_info where id is not null
  </delete>
  <delete id="deleteAllMovieIntroduction">
  	delete from movie_introduction where movie_id is not null
  </delete>
  <delete id="deleteAllMovieMagnetUrl">
  	delete from movie_magnet_url where id is not null
  </delete>
  <delete id="deleteAllMovieRecord">
  	delete from movie_record where id is not null
  </delete>
  
</mapper>