<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.base.user.mapper.UsersDetailMapper">
  
  <resultMap id="BaseResultMap" type="demo.base.user.pojo.po.UsersDetail">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="last_login_ip" jdbcType="BIGINT" property="lastLoginIp" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="qq" jdbcType="BIGINT" property="qq" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="BIGINT" property="mobile" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_count" jdbcType="INTEGER" property="modifyCount" />
    <result column="reservation_information" jdbcType="VARCHAR" property="reservationInformation" />
    <result column="regist_ip" jdbcType="BIGINT" property="registIp" />
    <result column="private_level" jdbcType="INTEGER" property="privateLevel" />
    <result column="head_image" jdbcType="CHAR" property="headImage" />
  </resultMap>
  
  <insert id="insert" parameterType="demo.base.user.pojo.po.UsersDetail">
    insert into users_detail (user_id, nick_name, last_login_ip, 
      gender, qq, email, mobile, 
      last_login_time, modify_time, modify_count, 
      reservation_information, regist_ip, private_level, head_image
      )
    values (#{userId,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, #{lastLoginIp,jdbcType=BIGINT}, 
      #{gender,jdbcType=BIT}, #{qq,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=BIGINT}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyCount,jdbcType=INTEGER}, 
      #{reservationInformation,jdbcType=VARCHAR}, #{registIp,jdbcType=BIGINT}, #{privateLevel,jdbcType=INTEGER},
      #{headImage, jdbcType=CHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="demo.base.user.pojo.po.UsersDetail">
    insert into users_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyCount != null">
        modify_count,
      </if>
      <if test="reservationInformation != null">
        reservation_information,
      </if>
      <if test="registIp != null">
        regist_ip,
      </if>
      <if test="privateLevel != null">
        private_level,
      </if>
      <if test="headImage != null">
        head_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=BIGINT},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=BIT},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=BIGINT},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyCount != null">
        #{modifyCount,jdbcType=INTEGER},
      </if>
      <if test="reservationInformation != null">
        #{reservationInformation,jdbcType=VARCHAR},
      </if>
      <if test="registIp != null">
        #{registIp,jdbcType=BIGINT},
      </if>
      <if test="privateLevel != null">
        #{privateLevel,jdbcType=INTEGER},
      </if>
      <if test="headImage != null">
        #{headImage,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <select id="isNickNameExists" resultType="int">
    select exists(select * from users_detail where nick_name = #{nickName})
  </select>

  <select id="isActiveEmailExists" resultType="int">
    select exists(
      select 
        1 
      from 
        user_roles as urs 
        
        left join users as u 
          on urs.user_id = u.user_id
          and urs.role_id = #{roleId}
          
        left join users_detail as ud
          on u.user_id = ud.user_id

      where 
        ud.email = #{email}
    )
  </select>

  <select id="findUserIdByActivationEmail" resultType="Long">
    select
      ud.user_id
    
    from 
      users_detail as ud

      right join user_roles as urs
        on ud.user_id = urs.user_id
        and urs.role_id = #{roleId}
    
    where
      ud.email = #{email}
  </select>

  <select id="findUserNameByActivationEmail" resultType="String">
    select
      ud.user_id
    
    from 
      users_detail as ud

      right join user_roles as urs
        on ud.user_id = urs.user_id
        and urs.role_id = #{roleId}

      left join users as u
        on u.user_id = ud.user_id
    
    where
      ud.email = #{email}
  </select>

  <select id="findEmailByUserId" resultType="String">
    select email from users_detail where user_id = #{userId}
  </select>

  <select id="findUserDetail" resultMap="BaseResultMap">
    select
      *
    from
      users_detail 
    where
      user_id = #{userId}
  </select>

  <select id="findUserDetailByNickName" resultMap="BaseResultMap">
    select
      *
    from
      users_detail as ud
    where
      ud.nick_name = #{nickName}
  </select>

  <update id="modifyRegistEmail">
    update 
      users_detail 
    set
      email = #{email}
    where
      user_id = #{userId}
  </update>

  <select id="findUserEmailAndKey" resultType="demo.base.user.pojo.bo.UserMailAndMailKeyBO">
    select
      ud.user_id as userId,
      ud.email,
      mr.mail_id as mailId,
      mr.mail_key as mailKey,
      mr.mail_type as mailType,
      mr.valid_time as validTime

    from
      users_detail as ud

      left join mail_record as mr
        on ud.user_id = mr.user_id

    where
      mr.was_used = false
      and mr.valid_time &gt;= now()
  </select>

  <update id="updateDuplicateEmail">
    update 
      user_detail
    set
      email = #{newEmail}
    where
      user_id != #{userId} 
      and email = #{oldEmail}
  </update>

  <select id="findHeadImage" resultType="String">
    select head_image from users_detail where user_id = #{userId}
  </select>
</mapper>