<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/aop
                        classpath:springSchemas/springFramework/4.3.3/aop/spring-aop-4.3.xsd
                        http://www.springframework.org/schema/beans
                        classpath:springSchemas/springFramework/4.3.3/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/cache
                        classpath:springSchemas/springFramework/4.3.3/cache/spring-cache-4.3.xsd
                        http://www.springframework.org/schema/context
                        classpath:springSchemas/springFramework/4.3.3/context/spring-context-4.3.xsd
                        http://www.springframework.org/schema/jdbc
                        classpath:springSchemas/springFramework/4.3.3/jdbc/spring-jdbc-4.3.xsd
                        http://www.springframework.org/schema/jee
                        classpath:springSchemas/springFramework/4.3.3/jee/spring-jee-4.3.xsd
                        http://www.springframework.org/schema/jms
                        classpath:springSchemas/springFramework/4.3.3/jms/spring-jms-4.3.xsd
                        http://www.springframework.org/schema/lang
                        classpath:springSchemas/springFramework/4.3.3/lang/spring-lang-4.3.xsd
                        http://www.springframework.org/schema/mvc
                        classpath:springSchemas/springFramework/4.3.3/mvc/spring-mvc-4.3.xsd
                        http://www.springframework.org/schema/oxm
                        classpath:springSchemas/springFramework/4.3.3/oxm/spring-oxm-4.3.xsd
                        http://www.springframework.org/schema/task
                        classpath:springSchemas/springFramework/4.3.3/task/spring-task-4.3.xsd
                        http://www.springframework.org/schema/tool
                        classpath:springSchemas/springFramework/4.3.3/tool/spring-tool-4.3.xsd
                        http://www.springframework.org/schema/tx
                        classpath:springSchemas/springFramework/4.3.3/tx/spring-tx-4.3.xsd
                        http://www.springframework.org/schema/util
                        classpath:springSchemas/springFramework/4.3.3/util/spring-util-4.3.xsd
                        http://www.springframework.org/schema/websocket
                        classpath:springSchemas/springFramework/4.3.3/websocket/spring-websocket-4.3.xsd
                        http://www.springframework.org/schema/security
                        classpath:springSchemas/springSecurity/4.2/spring-security-4.2.xsd">        
<!-- mapperScannerConfigurer -->
<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="demo.mapper" />
</bean>

<!-- 引入数据库配置文件 -->
<bean id="propertyConfigurer"
    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:properties/MySqlTestDBSit.properties" />
</bean>    

<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
    destroy-method="close">
    <property name="driverClassName" value="${DB_DRIVER_CLASS}" />
    <property name="url" value="${DB_URL}" />
    <property name="username" value="${DB_USERNAME}" />
    <property name="password" value="${DB_PASSWORD}" />    
    <!-- 初始化连接大小 <property name="initialSize" value="${initialSize}"></property> -->
    <!-- 连接池最大数量 <property name="maxActive" value="${maxActive}"></property> -->
    <!-- 连接池最大空闲 <property name="maxIdle" value="${maxIdle}"></property> -->
    <!-- 连接池最小空闲 <property name="minIdle" value="${minIdle}"></property> -->
    <!-- 获取连接最大等待时间 <property name="maxWait" value="${maxWait}"></property> -->
</bean>  

<!-- spring和MyBatis整合 -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <!-- 从mybatis配置文件中获取别名等一些信息 -->
    <!-- <property name="configLocation" value="classpath:xmlConfig/myBatisConfigSit.xml"></property> -->            
    <!-- 自动扫描mapping.xml文件 -->
    <property name="mapperLocations" value="classpath:demo.mapper.*.xml"></property>            
    <!-- 它一般对应我们的实体类所在的包，这个时候会自动取对应包中不包括包名的简单类名作为包括包名的别名。多个package之间可以逗号或者分号等来进行分隔。 -->
    <property name="typeAliasesPackage" value="demo.domain, demo.custom, demo.query"></property>            
    <!-- 数组类型，用来指定别名的。指定了这个属性后，Mybatis会把这个类型的短名称作为这个类型的别名，前提是该类上没有标注@Alia注解，否则将使用该注解对应的值作为此种类型的别名。 -->
    <!-- 
    <property name="typeAliases">
        <array>
            <value>demo.pojo.AccountHolder</value>
            <value>demo.pojo.po.AccountInfo</value>
            <value>demo.bank.pojo.po.BankInfo</value>
            <value>demo.bank.pojo.po.BankUnion</value>
        </array>
    </property> 
    -->
</bean>

<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
    <property name="dataSource" ref="dataSource" />  
</bean> 

<tx:advice id="transactionAdvice" transaction-manager="transactionManager">  
    <tx:attributes>  
        <tx:method name="add*" propagation="REQUIRED" />  
        <tx:method name="append*" propagation="REQUIRED" />  
        <tx:method name="insert*" propagation="REQUIRED" />  
        <tx:method name="save*" propagation="REQUIRED" />  
        <tx:method name="update*" propagation="REQUIRED" />  
        <tx:method name="modify*" propagation="REQUIRED" />  
        <tx:method name="edit*" propagation="REQUIRED" />  
        <tx:method name="delete*" propagation="REQUIRED" />  
        <tx:method name="remove*" propagation="REQUIRED" />  
        <tx:method name="repair" propagation="REQUIRED" />  
        <tx:method name="delAndRepair" propagation="REQUIRED" />           
        <tx:method name="get*" propagation="SUPPORTS" />  
        <tx:method name="find*" propagation="SUPPORTS" />  
        <tx:method name="load*" propagation="SUPPORTS" />  
        <tx:method name="search*" propagation="SUPPORTS" />  
        <tx:method name="datagrid*" propagation="SUPPORTS" />           
        <tx:method name="*" propagation="SUPPORTS" />  
    </tx:attributes>  
</tx:advice> 

</beans>